%tr
  %td
    %b
      = (I18n.t :license_id) + ':'
    = license_type.name
  %td
    %b
      = (I18n.t :description) + ':'
    = license_type.description
  %td
    = link_to "Show", license_type
  %td
    = link_to "Edit", edit_license_type_path(license_type)

