%title "Product Module"

%p
  %strong Name:
  = @product_module.name
%p
  %strong Description:
  = @product_module.description
%p
  %strong License Type:
  = get_license(@product_module.license_type_id)

%p
  = link_to "Edit", edit_product_module_path(@product_module)
  |
  = link_to "Destroy", @product_module, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", product_modules_path
