<h1><%=I18n.t :home_h1 %></h1>
<%= raw RedCloth.new(I18n.t :home_p1).to_html %>
<%= raw RedCloth.new(I18n.t :home_p2).to_html %>
<%= raw RedCloth.new(I18n.t :home_p3).to_html %>
<p><%=I18n.t :copyright %></p>
<% if !signed_in? %>
<table>
	<tr>
		<td><%= link_to "Anmelden", signin_path, :class => "signup_button round" %></td>
		<td><%= link_to "Neuer Benutzer", signup_path, :class => "signup_button round" %></td>
	</tr>
</table>
<% else %>
<td><%= link_to "Abmelden", signout_path, :class => "signup_button round" %></td>
<% end %>
