%tr
  %td
    %b
      = (I18n.t :version) + ':'
    = product_version.name
  %td
    %b
      = (I18n.t :description) + ':'
    = product_version.description
  %td
    = link_to "Show", product_version
  %td
    = link_to "Edit", edit_product_version_path(product_version)
