<h1><%= I18n.t 'product_versions_all' %></h1>
<%= link_to 'New Product version', new_product_version_path %>
<%= will_paginate %>
<ul class="product_versions">
<%= render @product_versions %>
</ul>
<%= will_paginate %>
