<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product_version.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product_version.description %>
</p>

<p>
  <b>Remarks:</b>
  <%= @product_version.remarks %>
</p>

<p>
  <b>User:</b>
  <%= @product_version.user_id %>
</p>


<%= link_to 'Edit', edit_product_version_path(@product_version) %> |
<%= link_to 'Back', product_versions_path %>
