<!DOCTYPE html>
%html
  %head
    %title
      = title
    = csrf_meta_tag
    = render 'layouts/stylesheets'
    = javascript_include_tag :defaults
  %body
    %div{:class=>"container"}
      %div
        = render 'layouts/header'
      %div{:class=>"links"}
        %b Main
        %br
        = link_to 'Description','/test_descriptions'
        %br
        = link_to 'Test','/test_runs'
        %br
        %br
      %div{:class=>"rechts"}
        %b
          Actions
        %br
        Test okay!
        %br
        Edit
      %div
        %section{:class=>"round"}
          = if flash.size >0 then 
            = flash.each do |key, value|
              %div{:class=>"flash #{key}"}
                = value
          = yield
        = render 'layouts/footer'
      = debug(params) if Rails.env.development?
